<h1>Ex Libris</h1>
<p>Welcome to St. Joan of Arc Catholic Church's Choir Library. This library application was written 
by <a href="mailto:lothie@gmail.com?subject=Choir%20Library">Mary Ursula Herrmann</a>, 
using <a href="http://rubyonrails.org" target=_blank>Ruby on Rails</a>. </p>
<%= link_to "Music", sheets_path %>

<p>Other links:</p>

<li><a href="http://www.stjoanofarcva.org/" target=_blank>St. Joan of Arc Home Page</a>
<li><a href="http://www.stjoanofarcva.org/ministries/music-ministry/" target=_blank>SJA Music Ministry Page</a>